[run]
branch = True

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    pragma: no cover
    AbstractContextManager
    # pass
    def __repr__
    raise NotImplementedError
    if os.name == 'nt':
    @abc.abstractmethod
    @abstractmethod

ignore_errors = True

[html]
directory = htmlcov